@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* OpenAir – Wald/Nebel nur im Rückblick / Impressionen */
.rueckblick-tannen {
  background-image:
    url("https://pub-894f6ed26225410c96c9a46e36ef0199.r2.dev/openair/branding/wald_nebel.webp");

  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .rueckblick-tannen {
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
  }
}

